/target
/HELP.md
/src/main/resources/application.properties
/src/main/test
# System
.DS_Store

# IDE
.vscode/
*.iml

# Build
target/
*.class

# OS
Thumbs.db

# Maven
.mvn/
mvnw
mvnw.cmd

# Old or unused
src/main/resources/static/EivindsVakreØyeblikkOld/
src/main/resources/static/erfaringerOld/
src/test/
